version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: todo-postgres
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  todo-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: todo-api
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/todo_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      JWT_SECRET: a8c1d05ac985d622781d20a133cb7881d6595c67e10d46d022d5805c0eaeb5f4
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    restart: no

volumes:
  postgres_data:
